html
{
  margin:0px auto;
  height:100%;
  width:100%;
  padding:0 0;
}
body
{
  height:100%;
  width:100%;
  margin:auto;
  background:url('images/green_cup.png') repeat center center fixed;
  background-color:rgb(50, 50, 50);
}
#container
{
  width:1050px;
  margin:auto;
  padding-bottom: 20px;
  margin-top:-249px;
}
a{
  text-decoration: inherit;
  color: inherit;
}
.nav
{
	width:100%;
	z-index:1;
	height:58px;
	background-color:rgb(44, 83, 44);
  margin-top:-73px;
}
.nav table tr td
{
	width:125px;
	text-align:center;
	line-height:60px;
	color:white;
  cursor:pointer;
}
.nav table tr td:hover
{
  color:rgb(44, 83, 44);
  background-color: white;
}
.nav table
{
	float:right;
}
.header
{
  font-size:50px;
  font-family:Californian FB;
}
.content
{
  margin:auto;
  height:500px;
  width:1000px;
  background-color:rgb(79, 133, 89);
}
.content h1
{
  color:white;
  font-size:50px;
  text-align:center;
  line-height:225px;
}
.click_here
{
  height:75px;
  width:150px;
  text-align:center;
  margin:auto;
  font-size:20px;
  background-color:rgb(118, 156, 96);
  line-height:75px;
  color:white;
  margin-top:-10px;
  cursor:pointer;
}
.click_here:hover
{
  color:rgb(44, 83, 44);
  background-color:white;
}
#nav_background
{
  height:65px;
  background-color:rgb(44, 83, 44);
  z-index: 0;
  margin-top:121px;
}
